<!doctype html>

<html>

	<div class="row">
		<div class="col-sm-3 thumbnail">
				<a href="/project/{{name}}"><img src="images/thumbnails/{{image}}"></a>
		</div>
		<div class="col-sm-9">
			<a href="/project/{{name}}"><p>{{name}}{{title}}</p></a>
			<p>{{description}}</p>
		</div>
	</div>

</html>